footer{
    padding: 2px;
    background-color: bisque;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* #navbarNav nav-item active {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
/*}*/

  #navbarNav li {
    position: relative;
    padding-left: 15px;
}