
<h1>Parameters Data Display</h1>

<div class="card" style="width: 70rem;" style="height: 35rem;"><app-bar-chart></app-bar-chart></div>
<div class="card" style="width: 70rem;" style="height: 35rem;"><app-doughnut-chart></app-doughnut-chart></div>
<div class="card" style="width: 70rem;" style="height: 35rem;"><app-line-chart></app-line-chart></div>
<div class="card" style="width: 70rem;" style="height: 35rem;"><app-pie-chart></app-pie-chart></div>
<div class="card" style="width: 70rem;" style="height: 35rem;"><app-radar-chart></app-radar-chart></div>





